{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <br>

        <a href="{{ url('business_card_listing') }}">Go back to listing</a>

        <br><br>

        <div class="row">
            <div class="col-xs-6 businessCard" style="background-color: {{ businessCard.baseColor }}">
                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-xs-12">
                                <h3>
                                    {{ businessCard.firstName|capitalize }}
                                    {{ businessCard.lastName|capitalize }}
                                </h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{ businessCard.position }}
                                <strong>at</strong>
                                {{ businessCard.company }}
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-xs-12">
                                <strong>Contact phone</strong><br>
                                {{ businessCard.phone }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <strong>Contact email</strong><br>
                                {{ businessCard.email }}
                            </div>
                        </div>

                    </div>
                    
                    <div class="col-md-6">
                        <img src="{{ app.request.getSchemeAndHttpHost() }}/pictures/{{ businessCard.picture }}" alt="business card picture" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}